<%= form_for [@field, @variation] do |f| %>
  <% if @variation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@variation.errors.count, "ошибка") %> препятствует сохранению:</h2>

      <ul>
        <% @variation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Название" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :description, "Описание" %>
    <%= f.rich_text_area :description %>
  </div>

  <div class="field">
    <%= f.submit "#{@variation.new_record? ? 'Создать' : 'Обновить' }", class: "btn btn-primary"%>
  </div>
<% end %>

