<div class="card ml-5">
  <div class="card-body">
    <%= form_with(model: [@retailer, @comment]) do |f| %>
      <%= f.hidden_field :parent_id %>
      <div class="form-group">
        <%= f.label 'Ответ' %>
        <%= f.text_area :body, class: 'form-control', required: "required" %>
      </div>
      <%= f.submit 'Отправить', class: 'btn btn-primary' %>
      <%= link_to 'Отмена', retailer_path(@retailer), class: 'btn btn-secondary' %>
    <% end %>
  </div>
</div>