<div class="card ml-5">
  <div class="card-body">
    <%= reply.body %>
    -
    <%= reply.user.email %>
    <%= link_to 'reply', new_retailer_comment_path(@retailer, parent_id: reply.id), remote: true, class: 'd-block' %>
  </div>
  <% if reply.replies.any? %>
    <% reply.replies.each do |reply_another| %>
      <%= render partial: 'comments/reply', locals: { reply: reply_another } %>
    <% end %>
  <% end %>
</div>
<div id="reply-form-<%= reply.id %>"></div>