<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @comment.body %>
</p>

<p>
  <strong>Retailer:</strong>
  <%= @comment.retailer_id %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @comment.parent_id %>
</p>

<%= link_to 'Изменить', edit_comment_path(@comment), class: "btn btn-secondary" %></br>
<%= link_to 'Назад', comments_path %>
