<p id="notice"><%= notice %></p>

<h1>Field Histories</h1>

<table>
  <thead>
    <tr>
      <th>Fields title</th>
      <th>Variation name</th>
      <th>Description</th>
      <th>Verstion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @field_histories.each do |field_history| %>
      <tr>
        <td><%= field_history.fields_title %></td>
        <td><%= field_history.variation_name %></td>
        <td><%= field_history.description %></td>
        <td><%= field_history.verstion %></td>
        <td><%= link_to 'Show', field_history %></td>
        <td><%= link_to 'Edit', edit_field_history_path(field_history) %></td>
        <td><%= link_to 'Destroy', field_history, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Field History', new_field_history_path %>
