<span class="elem_with_icon">
  <i class="material-icons">article</i>
  <%= link_to 'Ретейлеры', @retailer %></br>
</span>

<h1>История изменения полей</h1>

<table>
  <thead>
    <tr>
      <th>Дата</th>
      <th>Ретейлер</th>
      <th>Наименование поля</th>
      <th>Вариация</th>
      <th>Описание</th>
      <th>Вокабуляр</th>
      <th>Пользователь</th>
      <th>Версия</th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @retailer.field_histories.order(id: :desc).each do |field_history| %>
      <tr>
        <td><%= field_history.updated_at %></td>
        <td><%= field_history.retailer.title %></td>
        <td><%= field_history.fields_title %></td>
        <td><%= field_history.variation_name %></td>
        <td><%= field_history.description %></td>
        <td><%= field_history.vocabulary_name %></td>
        <td><%= field_history.user.email %></td>
        <td><%= field_history.version %></td>
        <td><%= field_history.field.nil? ? "" : (link_to 'Показать', retailer_field_history_path(@retailer.id, field_history.id), class: "btn btn-secondary") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
