<span class="elem_with_icon">
  <i class="material-icons">article</i>
  <%= link_to "Ретейлер #{@field_history.retailer.title}", retailer_path(@field_history.retailer_id) %>
</span>
<span class="elem_with_icon">
  <i class="material-icons">bookmark</i>
  <%= link_to "Поле #{@field_history.fields_title}", field_path(@field_history.field_id) %>
</span>


<table>
  <thead>
  <tr>
    <th>Версия </th>
    <th>Дата </th>
    <th>Имя поля</th>
    <th>Вариация</th>
    <th>Описание</th>
    <th>Вокабуляр</th>
    <%if ["QA","admin"].include? current_user.role %>
      <th>Востановить ?</th>
    <% end %>
    <th>Создано</th>
    <th colspan="9"></th>
  </tr>
  </thead>

  <tbody>
  <% @field_history.retailer.field_histories.where(field_id: @field_history.field_id).order(version: :desc).each_with_index do |field_history, index| %>
    <tr>
      <td>№ <%= field_history.version %></td>
      <td><%= field_history.updated_at %></td>
      <% if field_history.version != 1 && field_history.fields_title != (old_name = @field_history.retailer.field_histories.where(field_id: @field_history.field_id).select {|el| el.version == field_history.version - 1}.first.fields_title) %>
        <td style="color: #009966"><%= field_history.fields_title %><s style="color: #990033"><%= old_name %></s></td>
      <% else %>
        <td><%= field_history.fields_title %></td>
      <% end %>

      <% if field_history.version == 1 && field_history.variation_name == "General" %>
        <td><%= "Created field: #{field_history.variation_name}" %></td>
      <% else %> <!-- Тут возможно понадобится логика поиска и раграничения в новых именах -->
        <td><%= field_history.variation_name %></td>
      <%end %>

        <!--  Сравнить надо только вариации, дописать-->
      <% if field_history.version != 1 && field_history.variation_name !~ /Create new variation:/ && field_history.description != (old_desc = @field_history.retailer.field_histories.where(field_id: @field_history.field_id).select {|el| el.version == field_history.version - 1}.first.description) %>
        <td style="color: #009966"><%= field_history.description %><s style="color: #990033"><%= old_desc %></s></td>
      <% else %>
        <td><%= field_history.description %></td>
      <% end %>

      <% if field_history.version != 1 && field_history.vocabulary_name != (old_vocabulary_name = @field_history.retailer.field_histories.where(field_id: @field_history.field_id).select {|el| el.version == field_history.version - 1}.first.vocabulary_name) %>
        <td style="color: #009966"><%= field_history.vocabulary_name %><s style="color: #990033"><%= old_vocabulary_name %></s></td>
      <% else %>
        <td><%= field_history.vocabulary_name %></td>
      <% end %>
      <%if ["QA","admin"].include? current_user.role %>
        <td><%= (index == 0 || field_history.variation_name =~ /Create new variation:/) ? "Текущий контент" : (link_to 'Востановить контент', retailer_field_history_path(field_history), method: :put, data: { confirm: 'Вы уверены?' }, class: "btn btn-danger") %></td>
      <% end %>
        <td><%= field_history.user.email  %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Назад', retailer_field_histories_path(@field_history.retailer_id), class: "btn btn-secondary" %>
