<h1>Users</h1>

<%= paginate @users %>

<strong>Пользователи:</strong>
<div class="row caption content">
  <div class="col-sm-2">Почта</div>
  <div class="col-sm-2">Дата регистрации</div>
  <div class="col-sm-2">Роль</div>
  <div class="col-sm-2">Изменения</div>
</div>

<% @users.each do |user| %>
  <div class="row content">
    <div class="col-sm-2"><%= user.email %></div>
    <div class="col-sm-2"><%= user.created_at %></div>
    <div class="col-sm-2"><%= user.role %></div>
    <div class="col-sm-2"><%= user.role.eql?('admin') ? '' : (link_to "Edit", user, class: "btn btn-secondary") %></div>
  </div>
<% end %>

