<div class="container">
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.role %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @user.created_at %>
</p>

<%= link_to 'Изменить', edit_user_path(@user), class: "btn btn-secondary" %></br>
<%= link_to 'Назад', users_path, class: "btn btn-secondary" %>
</div>