<%= form_with(model: retailer) do |form| %>
  <% if retailer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(retailer.errors.count, "ошибка") %> препятствует сохранению:</h2>

      <ul>
        <% retailer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, "Название" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "#{retailer.new_record? ? 'Создать' : 'Изменить' }", class: "btn btn-primary" %>
  </div>
<% end %>
