<div class="container">
  <h1>Ретейлеры</h1>
  <%= link_to 'Новый ретейлер', new_retailer_path, class: "btn btn-primary" if ["QA","admin"].include? current_user.role %>
  <%= paginate @retailers unless params[:search] %>

  <table>
    <tbody>
      <% @retailers.each do |retailer| %>
        <tr>
          <td><%= retailer.title %></td>
          <td><%= link_to 'Показать', retailer, :"data-turbolinks" => "false", class: "btn btn-secondary" %></td>
          <td><%= link_to 'Изменить', edit_retailer_path(retailer), class: "btn btn-secondary" if ["QA","admin"].include? current_user.role %></td>
          <td><%= link_to 'История', retailer_field_histories_path(retailer), :"data-turbolinks" => "false", class: "btn btn-secondary" %></td>
          <td><%= link_to 'Удалить', retailer, method: :delete, data: { confirm: 'Вы уверены?' }, class: "btn btn-danger" if current_user.role.eql? "admin" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>