<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @retailer.title %>
</p>

<p>
  <strong><%= (@retailer.fields.count > 0) ? "Fields:" : "No fields" %></strong>
<ul>
  <% @retailer.fields.each_with_index do |r_field, index| %>
    <li>
      <span><%= link_to "#{index + 1}. #{r_field.title}", r_field %></span>
      <span style="margin-left: 20px"><%= link_to 'Remove', r_field, method: :delete, data: { confirm: 'Are you sure?' } %></span>
    </li>
    </br>
  <% end %>
</ul>
</p>

<p>
  <%= link_to "Add Field", new_retailer_field_path(@retailer) %>
</p>

<%= link_to 'Back', retailers_path %>
