<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @retailer.title %>
</p>

<p>
  <strong>Fields:</strong>
<ul>
  <% @retailer.fields.each_with_index do |r_field, index| %>
    <li>
      <tr>
        <td><%= link_to "#{index + 1}. #{r_field.title}", r_field %><td>
<!--        <td><%#= link_to 'Edit', r_field %></td>-->
<!--        <td><%#= link_to 'Destroy', r_field, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    </li>
  <% end %>
</ul>
</p>

<p>
  <%= link_to "Add Field", new_retailer_field_path(@retailer) %>
</p>

<%= link_to 'Back', retailers_path %>
