<h1>Задачи</h1>

<%= paginate @tickets %>

  <div class="row caption content">
    <div class="col-sm-1">Название</div>
    <div class="col-sm-3">Описание</div>
    <div class="col-sm-3">Адресс</div>
    <div class="col-sm-1">Ретейлер</div>
    <div class="col-sm-1">Поле</div>
    <div class="col-sm-1">Дата создание</div>
    <div class="col-sm-1">Пользователь</div>
    <div class="col-sm-1">Действие</div>
  </div>
    <% @tickets.each do |ticket| %>
      <div class="row caption content">
        <div class="col-sm-1"><%= ticket.name %></div>
        <div class="col-sm-3"><%= ticket.description %></div>
        <div class="col-sm-3"><%= ticket.link %></div>
        <div class="col-sm-1"><%= (ticket&.fields.first.nil? ? "" : ticket.fields&.first&.retailer&.title) rescue "error" %></div>
        <div class="col-sm-1"><%= (ticket&.fields.first.nil? ? "" : ticket.fields&.first&.title) rescue "error" %></div>
        <div class="col-sm-1"><%= ticket.created_at %></div>
        <div class="col-sm-1"><%= ticket.user.nil? ? "" : ticket.user.email %></div>
        <div class="col-sm-1">
          <%= link_to 'Показать', ticket, class: "btn btn-secondary" %>
          <%= link_to 'Изменить', edit_ticket_path(ticket), class: "btn btn-secondary" %>
          <%= link_to 'Удалить', ticket, method: :delete, data: { confirm: 'Вы уверены?' }, class: "btn btn-danger" %>
        </div>
      </div>
    <% end %>


<%= link_to 'Новая задача', new_ticket_path, class: "btn btn-primary" if ["QA","admin"].include?(current_user.role) %>
