<div class="container">
<p>
  <strong>Название:</strong>
  <%= @ticket.name %>
</p>

<p>
  <strong>Описание:</strong>
  <%= @ticket.description %>
</p>

<p>
  <strong>Адрес:</strong>
  <%= @ticket.link %>
</p>

<%= link_to 'Изменить', edit_ticket_path(@ticket), class: "btn btn-secondary" if ["QA","admin"].include?(current_user.role) %>
<%= link_to 'Назад', tickets_path, class: "btn btn-secondary" %>
</div>