<p>
  <strong>Name:</strong>
  <%= @ticket.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ticket.description %>
</p>

<p>
  <strong>Link:</strong>
  <%= @ticket.link %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) if ["QA","admin"].include?(current_user.role) %>
<%= link_to 'Back', tickets_path %>
