<%= link_to 'History', vocabulary_histories_path %>

<h1>Vocabularies</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Display name</th>
      <th>Used in spec</th>
      <th>Created by</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @vocabularies.each do |vocabulary| %>
      <tr>
        <td><%= vocabulary.name %></td>
        <td><%= vocabulary.description %></td>
        <td><%= vocabulary.spec_name %></td>
        <td><%= vocabulary.fields.size.blank? ? 0 : vocabulary.fields.size %></td>
        <td><%= vocabulary.user.nil? ? "" : vocabulary.user.email %></td>
        <td><%= link_to 'Show', vocabulary %></td>
        <% if ["QA","admin"].include?(current_user.role) %>
          <td><%= link_to 'Edit', edit_vocabulary_path(vocabulary) %></td>
          <td><%= link_to 'Destroy', vocabulary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vocabulary', new_vocabulary_path if ["QA","admin"].include?(current_user.role) %>
