<%= link_to 'field history', vocabulary_history_path(@vocabulary.vocabulary_histories.first) %>

<p>
  <strong>Name:</strong>
  <%= @vocabulary.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @vocabulary.description %>
</p>

<p>
  <strong>Spec name:</strong>
  <%= @vocabulary.spec_name %>
</p>

<p>
  <strong>User:</strong>
  <%= @vocabulary.user.nil? ? "" : @vocabulary.user.email %>
</p>

<%= link_to 'Edit', edit_vocabulary_path(@vocabulary) if ["QA","admin"].include?(current_user.role) %>
<%= link_to 'Back', vocabularies_path %>
