<div class="container">
  <span class="elem_with_icon">
  <i class="material-icons">book</i>
    <%= link_to 'field history', vocabulary_history_path(@vocabulary.vocabulary_histories.first) %>
  </span>
  <p>
    <strong>Название:</strong>
    <%= @vocabulary.name %>
  </p>

  <p>
    <strong>Описание:</strong>
    <%= @vocabulary.description %>
  </p>

  <p>
    <strong>Комерческое название:</strong>
    <%= @vocabulary.spec_name %>
  </p>

  <p>
    <strong>Пользователь:</strong>
    <%= @vocabulary.user.nil? ? "" : @vocabulary.user.email %>
  </p>

  <%= link_to 'Изменить', edit_vocabulary_path(@vocabulary), class: "btn btn-secondary" if ["QA","admin"].include?(current_user.role) %>
  <%= link_to 'Назад', vocabularies_path, class: "btn btn-secondary" %>
</div>