<%= link_to 'Vocabularies', vocabularies_path %>

<%= paginate @vocabulary_histories %>

<h1>Vocabulary Histories</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Name</th>
      <th>Description</th>
      <th>Spec name</th>
      <th>Vocabulary field</th>
      <th>Version #</th>
      <th>User</th>
      <th colspan="7"></th>
    </tr>
  </thead>

  <tbody>
    <% @vocabulary_histories.each do |vocabulary_history| %>
      <tr>
        <td><%= vocabulary_history.updated_at %></td>
        <td><%= vocabulary_history.name %></td>
        <td><%= vocabulary_history.description %></td>
        <td><%= vocabulary_history.spec_name %></td>
        <td><%= vocabulary_history.vocabulary.nil? ? "Destroyed field" : vocabulary_history.vocabulary.name  %></td>
        <td><%= vocabulary_history.version.nil? ? "No set version" : vocabulary_history.version %></td>
        <td><%= vocabulary_history.user.nil? ? "No user" : vocabulary_history.user.email %></td>
        <td><%= vocabulary_history.vocabulary.nil? ? "" : (link_to 'Show', vocabulary_history) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

