<span class="elem_with_icon">
  <i class="material-icons">bookmark</i>
  <%= link_to 'Field data', vocabulary_path(@vocabulary_history.vocabulary) %>
  </span>


<table>
  <thead>
  <tr>
    <th>Версия </th>
    <th>Дата </th>
    <th>Название</th>
    <th>Описание</th>
    <th>Комерческое название</th>
    <th>Поле вокабуляра</th>
    <% if ["QA","admin"].include?(current_user.role) %><th>Востановить?</th> <% end %>
    <th>Создано</th>
    <th colspan="9"></th>
  </tr>
  </thead>

  <tbody>
  <% @vocabulary_history.vocabulary.vocabulary_histories.order(version: :desc).each_with_index do |vocabulary_history, index| %>
    <tr>
      <td>№ <%= vocabulary_history.version %></td>
      <td><%= vocabulary_history.updated_at %></td>
      <% if vocabulary_history.version != 1 && vocabulary_history.name != (old_name = @vocabulary_history.vocabulary.vocabulary_histories.select {|el| el.version == vocabulary_history.version - 1}.first.name) %>
        <td style="color: #009966"><%= vocabulary_history.name %><s style="color: #990033"><%= old_name %></s></td>
      <% else %>
        <td><%= vocabulary_history.name %></td>
      <% end %>

      <% if vocabulary_history.version != 1 && vocabulary_history.description != (old_desc = @vocabulary_history.vocabulary.vocabulary_histories.select {|el| el.version == vocabulary_history.version - 1}.first.description) %>
        <td style="color: #009966"><%= vocabulary_history.description %><s style="color: #990033"><%= old_desc %></s></td>
      <% else %>
        <td><%= vocabulary_history.description %></td>
      <% end %>

      <% if vocabulary_history.version != 1 && vocabulary_history.spec_name != (old_spec_name = @vocabulary_history.vocabulary.vocabulary_histories.select {|el| el.version == vocabulary_history.version - 1}.first.spec_name) %>
        <td style="color: #009966"><%= vocabulary_history.spec_name %><s style="color: #990033"><%= old_spec_name %></s></td>
      <% else %>
        <td><%= vocabulary_history.spec_name %></td>
      <% end %>

      <td><%= vocabulary_history.vocabulary.name  %></td>

      <% if ["QA","admin"].include?(current_user.role) %>
        <td><%= (index == 0) ? "Текущий контент" : (link_to 'Восстановить контент', vocabulary_history, method: :put, data: { confirm: 'Вы уверены?' }, class: "btn btn-danger") %></td>
      <% end %>
      <td><%= vocabulary_history.user.email  %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Назад', vocabulary_histories_path, class: "btn btn-secondary" %>
