<%= form_for [@retailer, @field] do |f| %>
  <% if @field.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@field.errors.count, "error") %> prohibited this field from being saved:</h2>

      <ul>
        <% @field.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %><br>
  </div>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.rich_text_area :description %><br>
  </div>

  <div class="field">
    <%= f.label :vocabulary , "Vocabulary"%>
    <%= f.collection_select :vocabulary_id, Vocabulary.all, :id, :name %>
  </div>
  <p style="color: #B00100">Миша, надо ли тут кнопка добавить новый вокабулар который мы отом выберем, или мы в этот момент должны завести задачу на вакабулар ?</p>

  <div class="field">
    <%= f.submit "#{@field.new_record? ? 'Create' : 'Update' }"%><br>
  </div>
<% end %>
