<%= form_for [@retailer, @field] do |f| %>
  <% if @field.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@field.errors.count, "ошибка") %> препятствует сохранению:</h2>

      <ul>
        <% @field.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :vocabulary , "Вокабуляр"%>
    <div class="select_search_raw">
      <%= f.collection_select :vocabulary_id, Vocabulary.all.select {|el| el unless @cur_retailer.fields.map {|rf| rf[:vocabulary_id]}.include? el[:id]}, :id, :name, {}, {class: "sel_desc"} %>
    </div>
  </div>

  <div class="field">
    <%= f.label :tickets, "Создать задачу на DQ?" %>
    <%= f.check_box :tickets %>
  </div>

  <div class="field">
    <%= f.submit "#{@field.new_record? ? 'Создать' : 'Обновить' }", class: "btn btn-primary"%><br>
  </div>
<% end %>
